/*.b-updatepage {*/
    /*position: relative;*/
    /*margin: 0 60px;*/
    /*padding: 50px 0;*/
    /*color: #242F33*/
/*}*/

.b-updatepage-artwork, .b-updatepage-lead, .b-updatepage-subjectbox {
    width: 100%;
    margin: 0 0 30px
}

.b-updatepage-event-section {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%
}

.b-updatepage-field-subhead {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: ProximaNova, sans-serif;
    font-size: .815rem;
    font-weight: 600
}

.b-updatepage-input {
    width: 330px;
    margin: 0;
    padding: 13px;
    border: 1px solid #CED6D9;
    font: 1.133em/1.2 ProximaNova, Helvetica, Arial, sans-serif;
    background: #F7F9FA;
    color: #242F33
}

.b-updatepage-input:focus {
    border-color: #85C1FF
}

.b-updatepage-input[disabled] {
    pointer-events: none;
    background: #E6E6E6;
    color: #AAB7BB
}

.b-updatepage-subjectbox .b-updatepage-input {
    width: 100%;
    box-sizing: border-box
}

.b-updateform-bar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 4px 8px 4px;
    border: 1px solid #999;
    border-bottom: 0;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #F7F9FA;
    font: 14px/18px Arial, sans-serif
}

/*.b-updateform-bar:after, .b-updateform-bar:before {*/
    /*display: table;*/
    /*border-collapse: collapse;*/
    /*content: ""*/
/*}*/

/*.b-updateform-bar:after {*/
    /*clear: both*/
/*}*/

/*.b-updateform-buttons {*/
    /*display: none;*/
    /*float: left;*/
    /*height: 34px;*/
    /*margin: 0;*/
    /*padding: 4px 0 0;*/
    /*list-style: none;*/

/*}*/

/*.b-updateform-buttons-aside {*/
    /*display: block;*/
    /*float: right;*/
    /*margin-right: 2px*/
/*}*/

.b-updateform-textarea {
    position: relative;
    width: 100%;
    height: 33em;
    opacity: 1;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    resize: vertical;
    font: 1em/1.2 ProximaNova, Helvetica, sans-serif
}
